node_modules/
dist/
coverage/
.vscode/
.git*
.github/
.env*
*.md
.editorconfig
.prettierrc*
.eslintrc*
eslint.config.*
vitest.config.*
**/__tests__/
**/*.spec.js
**/*.spec.ts
**/*.spec.jsx
**/*.spec.tsx
